/** VARIABLES **/
:root {
    --main-color: #3FA886;
    --second-color: #5CB598;
    --dark-color: #000000;
    --white-color: #ffffff;
    --bg-color: #FAFAFA;
    --bg-button-contact-color:#1A1A1A;
    --font-h3-color:#8D8D8D;
    --light-color: #E6E6E6;
    --text-typo:"nunito_regular";
    --menu-typo:"nunito_semibold";
    --title-h1-typo:"nunito_bold";
    --title-h2-typo:"opensans_bold";
    --title-h3-typo:"opensans_regular";
    --font-size-14px: 0.875rem;
    --font-size-16px: 1rem;
    --font-size-17px: 1.063rem;
    --font-size-18px: 1.125rem;
    --font-size-19px: 1.188rem;
    --font-size-20px: 1.25rem;
    --font-size-21px: 1.313rem;
    --font-size-22px: 1.375rem;
    --font-size-23px: 1.438rem;
    --font-size-24px: 1.5rem;
    --font-size-32px: 2rem;
    --font-size-34px: 2.125rem;
    --font-size-36px: 2.25em;
    --font-size-38px: 2.375rem;
    --font-size-48px: 3rem;
    --font-size-50px: 3.125rem;
}

/*** BODY ***/
body{
    margin:0;
    padding:0;
    width:100%;
    font-family: var(--text-typo);
}

/*** HEADER ***/
header{
    background-color: var(--dark-color)!important;
}
    /* Menu */
.container-fluid{
    background-color: var(--dark-color)!important;
    width: calc(100% - 26rem)!important;
    margin:auto!important;
    font-family:var(--menu-typo)!important;
    color: var(--white-color)!important;
    font-size: var(--font-size-19px)!important; 
}
    /* Icône de la toogle bar */
.navbar-light .navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 100%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}
    /* Bouton contact*/
.contactm{
    background-color:var(--bg-button-contact-color)!important;
    border-radius: 31px!important;
}
    /* Liens du menu */
.navbar a{
    font-family:var(--menu-typo)!important;
    color: var(--white-color)!important;
    text-decoration:none!important;
}
.navbar a:hover{
    transition: all 300ms ease!important;
    -webkit-transform: scale(1.2)!important;
    -ms-transform: scale(1.2)!important;
    transform: scale(1.2)!important; 
}
.navbar .contactm:hover {           
    transition: all 300ms ease!important;
    -webkit-transform: scale(1)!important;
    -ms-transform: scale(1)!important;
    transform: scale(1)!important; 
}

/*** MAIN ET SECTION ***/
main{
    width:100%;
    height: auto;
    display:flex;
    flex-flow:column;
    justify-content:space-between;
    background:url("../assets/bg/feuilles.png") no-repeat border-box, 
    url("../assets/bg/bg-gris.png") no-repeat 100% 22%,
    url("../assets/bg/bg-gris.png") no-repeat 100% 78%;
    background-size: 100%; 
}
section{
    width: calc(100% - 26rem);
    margin:auto; 
    border-radius: 30px;
    background-color: var(--white-color);
    padding:4.7rem 8.4rem 4.7rem 8.4rem;
    margin-top:9rem;
    margin-bottom:9rem;
    box-shadow: 50px 50px 99px rgba( 34, 34, 34, 0.06);
    display:flex;
    flex-flow: column wrap;
    justify-content:center;
}

/* TITRES ET PARAGRAPHE */
h1{
    margin: 1.25rem 0 1.25rem 0!important;
    font-family: var(--title-h1-typo)!important;
    font-size:var(--font-size-50px)!important;
    text-shadow: 0px 1px var(--dark-color)!important;
}
h2{
    font-family: var(--title-h2-typo)!important;
    font-size:var(--font-size-32px)!important;
    color:var(--dark-color)!important;
    padding: auto!important;
    margin: 2.809rem !important;
}
h3{
    font-family: var(--title-h3-typo)!important;
    font-size:var(--font-size-38px)!important;
    color:var(--font-h3-color)!important;
}
h4{
    font-family:var(--title-h1-typo)!important;
    font-size:var(--font-size-34px)!important;
    text-shadow: 0px 1px var(--white-color)!important;
}
h5{
    background-color: white!important;
    overflow: hidden;
    font-family: var(--text-typo)!important;
    font-size:var(--font-size-21px)!important;
}
.card-title{ /* card : titre h5 */
    font-family: var(--title-h3-typo)!important;
    color: var(--font-h3-color)!important;
    font-size:var(--font-size-17px)!important;
}
h6{
    font-family: var(--title-h1-typo)!important;
    color: var(--main-color)!important;
    font-size:var(--font-size-21px)!important;
}
.titreh2{
    width: 100%;
    margin:auto;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1.7rem 2.8rem 1.7rem 2.8rem;
    margin-bottom:2.8rem;  
}
p{
    font-size:var(--font-size-23px)!important;
}
/*** SECTION 1 ***/
.section1_presentation{
    align-items:center;
    margin-top:1.875rem;
}
    /* Présentation */
.presentation{
    padding-top:3.125rem;
    width:100%;
}
        /* Titres présentation */
.titres_presentation #linkedin{
    margin-right:1.5rem;
}
.titres_presentation #developpement{
    position:relative;
    bottom:3.4rem;
    width: 100%;
    height: auto;
}
.titres_presentation h1{
    margin-top:1.75rem!important;
}
    /* Texte et illustration présentation */
.texte_illustration_presentation{
    display:flex;
    flex-flow: row;
}
        /* Texte présentation */
.texte_presentation{
    width:100%;
    line-height: 3.75em;
    height:auto;
}
        /* Illustration présentation */
.illustration_presentation{
    display:flex;
    flex-flow: column wrap;
    justify-content:center;
    align-items:center;
    margin:auto;
}
.illustration_presentation #presentation{
    width: 100%;
    height: auto;
}
.illustration_presentation #cv{
    border: none!important;
    outline: none!important;
    border-radius:31px;
    background-color:var(--main-color);
    color:var(--white-color);
    font-family: var(--title-h1-typo);
    font-size:var(--font-size-16px);
    text-align:center;
    padding:1rem 1.563rem 0.875rem 2rem;
    box-shadow: 0 0.188rem 0.375rem rgba( 34, 34, 34, 0.16);
    margin:3rem;
}
.illustration_presentation #telecharger{
    padding-left: 0.625rem;
}
/*** SECTION 2 ***/
    /* Compétences */
        /*Background-image : titre h2*/
#titreh2_competences{
    background: url("../assets/illustrations/competences.png") no-repeat border-box center/contain;
}
/* Carousel */
.owl-carousel {
    margin-top: 2.84rem !important;
    margin-bottom: 2.84rem !important;
}
.owl-carousel .owl-item img{
    width: 45% !important;
    margin:auto !important; 
}
.img > .carousel{
    margin:20%;
    padding:auto;
}
        /* Accordéon */
.accordeon{
    width: calc(100% - 26rem)!important;
    margin:auto!important;
    margin-bottom:9rem!important;
}
.accordion-item {
    border: none!important;
    background-color: transparent!important;
    margin-bottom:2.2rem!important;
}
.accordion-header{/*titre h5*/
    border-radius: 26px!important;
    box-shadow: 10px 10px 99px rgba(211, 211, 211, 0.161)!important;
}
.accordion-button{
    border-radius: 26px!important;
    background-color: transparent!important;
    cursor: pointer!important;
    padding: 1.813rem 4.563rem 1.813rem 3.438rem!important;
    border: none!important;
    outline: none!important;
    font-family: var(--text-typo)!important;
    font-size: var(--font-size-21px)!important;
    transition: 0.4s!important;
    color:var(--dark-color)!important;
}
.accordion .show{
    display:inline!important;
}
.accordion-body{ /* paragraphe de texte*/
    font-family: var(--text-typo)!important;
    box-shadow: 10px 10px 50px rgba( 34, 34, 34, 0.16)!important;
}
.accordion-body > ul li , .accordion-body > p{ /* puces de texte et texte*/
    font-size: var(--font-size-19px)!important;
}
.accordion-button::after{ /* modification de l'icône : plus ou moins*/
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3e%3c/svg%3e")!important;
    background-size: 2.5rem!important;
    width: 2.5rem!important;
    height: 2.5rem!important;
}
.accordion-button:not(.collapsed)::after{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3e%3c/svg%3e")!important;
    background-size: 2.5rem!important;
    width: 2.5rem!important;
    height: 2.5rem!important;
}
.accordion-header:hover {
    box-shadow: 10px 10px 50px rgba( 34, 34, 34, 0.25)!important;
}
.accordion-button:active{
    box-shadow:none!important;
}

/* SECTION 3 : PORTFOLIO */
    /*Background-image : titre h2*/
#titreh2_portfolio{
    background: url("../assets/illustrations/portfolio.png") no-repeat border-box center/contain;
}
    /*Filtres*/
        /* Boutons filtres */
            /* Style */
#myBtnContainer{
    width:100%;
    height:auto;
    margin:auto;
    margin-top:2.5rem;
    margin-bottom:3.75rem;
}
#myBtnContainer .btn {
    color:var(--main-color);
    cursor: pointer;
    font-size: var(--font-size-19px)!important;
}
#myBtnContainer .btn:hover, #myBtnContainer .btn.active {
    background-color: var(--main-color)!important;
    color:var(--white-color)!important;
}
            /* Javascript */
.filterDiv {
    display: none;
    margin-bottom: 3.125rem;
}
.show {
    display: flex;
    width:100%;
}
    /* Cartes */
        /* Cartes : mise en page*/
.card{
    width:100%!important;
    height:auto!important;
}
.card-body{
    display:flex;
    flex-direction:column;
    justify-content:space-around!important;
}
        /* Textes des cartes */
.card .card-text {
    font-size: var(--font-size-16px)!important;
}
        /* Boutons des cartes */
.card-button{
    border:none;
    border-radius: 31px;
    font-size:var(--font-size-16px)!important;
    color:var(--white-color);
    background-color:var(--second-color);
    text-align:center;
    align-self: center;
    padding:0.813rem 1.063rem 0.813rem 1.063rem;
}
.card-body > a{
    align-self: center!important;
}

/* SECTION 4 : À PROPOS*/
    /* À propos */
        /* Placement illustration + titre */
.illus_titre{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
    top:-6.375rem;
    width:100%;
    height:auto;
}
        /* Illustration */
#illus_apropos{
    width:auto;
    height:auto;
}
        /* Titre */
            /*Background-image : titre h2*/
#titreh2_apropos{
    background: url("../assets/illustrations/apropostitre.png") no-repeat border-box center/contain;
}

/* FOOTER */
footer{
    color:var(--white-color);
    margin-top:9rem;
    width:100%;
}
    /*Background-image : titre h2*/
#titreh2_contact{
    background: url("../assets/illustrations/contacttitre.png") no-repeat border-box center/contain;
}
    /*Contact*/
        /*Background + texte + image*/
.contact{
    width:100%;
    height:auto;
    background: url("../assets/illustrations/enveloppe.png") no-repeat padding-box 88%/contain, var(--main-color);
    padding:8.375rem 13rem 14.563rem 13rem;
}
            /*Texte */
.contact p{
    font-size: var(--font-size-20px);
    padding: 1rem 19rem 1rem 0;
}
                /*Bouton mail */
.mail a{
    text-decoration: none!important;
    color:var(--white-color)!important;
}
.mail{
    font-size: var(--font-size-22px);
    color:var(--white-color);
    background-color: var(--second-color);
    border-radius: 16px;
    padding: 1rem 12.938rem 1rem 1.813rem;
    border: var(--second-color) solid;
} 
    /* Bas du footer */
.footer_bas{
    width: calc(100% - 26rem);
    margin:auto;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:3.875rem 0;
    margin-top:2rem;
}
.icons{
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 6;
}
.icons > a {
    padding-right:1rem;
}
.mentions{
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    list-style: none;
    margin:0!important;
    padding: 0!important;
}  
.mentions li{
    font-family:var(--text-typo);
    font-size: var(--font-size-19px)!important;
}
.bi-arrow-up-circle { /* flèche haut*/
    margin-right: 0.4rem;
    color: var(--font-h3-color);
}    


/**** MENTIONS LEGALES ****/  
.mentions_legales h2{
    margin: 1.5rem 0rem!important;
}
   

/**** RESPONSIVE ****/  

    /* Mobiles (300px and down) */
@media (max-width: 400px)  {
    .mail{font-size:var(--font-size-19px)!important;padding: 1rem 1.813rem!important;}
}
    
    /* Mobiles (600px and down) */

@media (max-width: 600px)  {
    .container-fluid{ width: calc(100% - 0rem)!important;margin: auto !important;padding-left: 1.688rem!important; padding-right: 1.688rem!important; }
    main{background:url("../assets/bg/feuilles.png") no-repeat border-box, url("../assets/bg/bg-mobile.png") no-repeat 100% 12.8%, url("../assets/bg/bg-gris.png") no-repeat 100% 88%;background-size: 100%;}
    section {width: calc(100% - 0rem);margin: 0 auto;padding:1.688rem!important;margin-top:2.233rem!important;margin-bottom:4rem!important;}
    #presentation, #illus_apropos, .enveloppe {display:none;}
    h1{font-size:var(--font-size-48px)!important;}
    h2{font-size:var(--font-size-24px)!important;}
    h3{font-size:var(--font-size-36px)!important;}
    h4{font-size:var(--font-size-32px)!important;}
    .titreh2{width: calc(100% - 5rem);margin: auto;padding: 1.7rem 0rem 1.7rem 0rem;}
    .accordion-button{font-size:var(--font-size-19px)!important;}
    p {font-size:var(--font-size-19px)!important;line-height: 2.375rem;}
    .texte_illustration_presentation {flex-direction: column;}
    .illus_titre{top:0;}
    .illustration_presentation #cv{margin-top:1.116rem!important;margin-bottom: 3rem!important;}
    .accordeon {width: calc(100% - 0rem)!important;margin: 0 auto!important;}
    #myBtnContainer{display:flex;flex-direction:column;}
    .section3_portfolio .btn{padding: 0.75rem 0.375rem!important;}  
    .contact{background: var(--main-color);padding:1.688rem;}
    .contact p{font-size:var(--font-size-19px)!important;padding: 1rem 0;}
    .mail{font-size:var(--font-size-19px)!important;padding: 1rem 9rem 1rem 1.813rem;}
    .footer_bas{width: calc(100% - 1.688rem);margin:auto;}
}

    /* Mobiles larges + Tablettes mode portrait (600px and up)*/

@media (min-width: 601px) and (max-width: 768px) {
    main{background:url("../assets/bg/feuilles.png") no-repeat border-box, url("../assets/bg/bg-tablette.png") no-repeat 100% 20%, url("../assets/bg/bg-gris.png") no-repeat 100% 85%;background-size: 100%;}
    .titreh2 {padding: 1.7rem 1rem 1.7rem 1rem;}
    .contact{background: var(--main-color);padding:3.5rem;}
}

    /* Mobiles larges + Tablettes mode portrait et paysage (768px and up) */

@media (min-width: 601px) and (max-width: 992px) { 
    .container-fluid{ width: calc(100% - 7rem)!important;margin: auto !important; }
    .navbar-toggler {padding: 0!important;}
    section {width: calc(100% - 7rem);margin: auto;padding:1.688rem!important;margin-top:2.233rem!important;margin-bottom:4rem!important;}
    h1{font-size:var(--font-size-48px)!important;}
    h2{font-size:var(--font-size-24px)!important;}
    h3{font-size:var(--font-size-36px)!important;}
    h4{font-size:var(--font-size-32px)!important;}
    .titreh2{width: calc(100% - 7rem);margin: auto;}
    .accordion-button{font-size:var(--font-size-19px)!important;}
    p {font-size:var(--font-size-19px)!important;line-height: 2.375rem!important;}
    .texte_illustration_presentation{display: flex;flex-flow: row wrap;}
    .illustration_presentation{position:unset;padding:2rem 0;}
    .illustration_presentation #presentation {width: 75%;}
    .accordeon {width: calc(100% - 7rem)!important;margin: 0 auto!important;}
    .illus_titre{top:-2.375rem;}
    #illus_apropos {width:65%;}
    .contact p{font-size:var(--font-size-19px)!important;padding: 1rem 0;}
    .mail{font-size:var(--font-size-19px)!important;}
    .footer_bas{width: calc(100% - 7rem);margin:auto;}
}

    /* Tablettes mode paysage (768px and up) */

@media (min-width : 769px ) and (max-width: 992px) {
    main{ background:url("../assets/bg/feuilles.png") no-repeat border-box, url("../assets/bg/bg-gris.png") no-repeat 100% 25%, url("../assets/bg/bg-gris.png") no-repeat 100% 77%;}
    .contact{background: url("../assets/illustrations/enveloppe-mini.png") no-repeat padding-box center/contain, var(--main-color);padding: 5rem 3.5rem;}
}

    /* Ordinateurs portables (992px and up) */

@media (min-width: 993px) and (max-width: 1200px){
    .container-fluid{ width: calc(100% - 14rem)!important;margin: auto !important;font-size: var(--font-size-17px) !important;}
    main{ background:url("../assets/bg/feuilles.png") no-repeat border-box, url("../assets/bg/bg-gris.png") no-repeat 100% 27%, url("../assets/bg/bg-gris.png") no-repeat 100% 80%;}
    section {width: calc(100% - 14rem);margin: auto;padding:3rem!important;margin-top:2.233rem!important;margin-bottom:4rem!important;}
    h2{margin: 1.7rem !important;}
    .accordion-button{font-size:var(--font-size-19px)!important;}
    p {font-size:var(--font-size-19px)!important;line-height: 38px;}
    .texte_illustration_presentation{display: flex;flex-flow: row wrap;}
    .illustration_presentation{position:unset;padding:2rem 0;}
    .illustration_presentation #presentation {width: 75%;}
    .accordeon {width: calc(100% - 14rem)!important;margin: 0 auto!important;}
    .illus_titre{top:-2.375rem;}
    #illus_apropos {width:70%;}
    .contact{background: url("../assets/illustrations/enveloppe-mini.png") no-repeat padding-box center/contain, var(--main-color);padding:7rem;}
    .contact p{padding: 1rem 0;}
    .footer_bas{width: calc(100% - 14rem);margin:auto;}
}

    /* Grands ordinateurs portables et de bureau (1200px and up) */

@media (min-width: 1201px) and (max-width: 1400px){
    .container-fluid{ width: calc(100% - 20rem)!important;margin: auto !important; }
    main{ background:url("../assets/bg/feuilles.png") no-repeat border-box, url("../assets/bg/bg-gris.png") no-repeat 100% 25%, url("../assets/bg/bg-gris.png") no-repeat 100% 75%;}
    section {width: calc(100% - 20rem);margin: auto;padding:3rem!important;margin-top:2.233rem!important;margin-bottom:4rem!important;}
    .accordeon {width: calc(100% - 20rem)!important;margin: 0 auto!important;}
    .contact{background: url("../assets/illustrations/enveloppe.png") no-repeat padding-box 95%/contain, var(--main-color);padding:10rem;}
    .footer_bas{width: calc(100% - 20rem);margin:auto;}
}


/* https://getbootstrap.com/docs/5.0/layout/breakpoints/ */